# Agent model
MODEL=gemini-2.5-flash

# Knowledge source: local or cloud
KNOWLEDGE_SOURCE=local

# Used in local mode
LOCAL_KNOWLEDGE_DIRECTORY=knowledge

# Used later for Gemini through Vertex AI
GOOGLE_GENAI_USE_VERTEXAI=True
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=global

# Used later when KNOWLEDGE_SOURCE=cloud
KNOWLEDGE_BUCKET=